@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'Avalors Personal Use';
    src: url('fonts/Avalors-PersonalUse.ttf') format('truetype');
}

:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#fff;
    --main-header-background:#080324;
	--main-font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/resized_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: var(--main-font-family);
    text-align: center;
}

#container {
    display: grid;
    grid-template-areas:
        "a b c"
        "a b d"
        "a b e";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: end;
    padding: 20px;
}

#container > * {
    align-items: center;
}

#container>#background {
    grid-area: a;
    position: relative;
}

#container>#questionContainer {
    grid-area: b;
}

#container>#ringButtonContainer {
    grid-area: c;
}

#container>#colorButtonContainer {
    grid-area: d;
}

#container>#landscapeButtonContainer {
    grid-area: e;
}

h3{
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 14px;
	color: var(--main-fonts-color);
}

button {
    align-items: center;
    background-color: #515c91;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use', sans-serif;
    font-size: 12px;
    font-size: 20px;
    color: #FFFFFF;
}

.section {
    background: #515c91;
    border-radius: 20px;
}

#background {
    background: linear-gradient(#A279CC, #7788DA, #5296E4);
    padding: 50px;
    align-items: center;
}

#circle {
    width: auto;
    aspect-ratio: 1/1;
    background-color: black;
    /* Initial color */
    border-radius: 100%;
    z-index: 0;
}

#colorPicker {
    /* Sticks it to a certain position within its container */
    /* Fixed distance from the right edge */
    border: 2px solid #fff;
    /* Optional border for clarity */
    border-radius: 8px;
    /* Optional: rounded edges */
}

h1 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

label {
    color: white;
}

#planetHeading {
    color: white;
}

#shoes {
    width: 113%;
    height: 113%;
    position: absolute;
    top: -30;
    left: -28;
    z-index: 5;
}

.cloudy {
    background-image: url(../img/cloudy.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.jupiter {
    background-image: url(../img/jupiter.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.scales {
    background-image: url(../img/scales.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#rings {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.onering {
    background-image: url(../img/onering.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tworings {
    background-image: url(../img/tworings.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.snowring {
    background-image: url(../img/snowring.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.snowring2 {
    background-image: url(../img/snowring2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#nextring {
    right: 20px;
    top: 90px;
}

#nextlandscape {
    right: 20px;
    top: 90px;
}