div{
    width: 755px;
   height :987px;
}
#container{
   display: flex;
   justify-content: end;
}

body{
   background-image:url("../img/resized_background.png");
   background-repeat: no-repeat;
   background-size: cover;
}
#background{
   display: flex;
   align-items: center;
   position:absolute;
   width:555px;
   height:987px;
   left:100px;
   right: 100px;}

#shoes{
    position:absolute;
   width:555px;
   height:987px;  
}

.cloudy{
    position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/cloudy.png);  
}
.jupiter{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/jupiter.png);
}
.scales{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/scales.png);
}

#rings{
    position:absolute;
   width:555px;
   height:987px;
}
.onering{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/onering.png);
}
.tworings{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/tworings.png);
}
.snowring{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/snowring.png)
}
.snowring2{
   position:absolute;
   width:555px;
   height:987px;
   background-image: url(../img/snowring2.png)
}


/**buttons**/
#nextring{
   position:absolute;
   right:20px;
   top:90px;
}
#nextlandscape{
   position:absolute;
   right:20px;
   top:90px;
}
.btn{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 16rem;
   overflow: hidden;
   height: 4rem;
   font-size: 1.5 rem;
   padding: 0.5rem 1rem;
   background-size: 300% 300%;
   border-radius: 5rem;
   border: double 4px transparent;
   background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #3498eb 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
   background-origin: border-box;
   background-clip: content-box, border-box;
   margin-top: 20px;
   color: white;
}

#circle {
   width: 325px;
   height: 325px;
   background-color: red; /* Initial color */
   border-radius: 50%;
   margin: 20px;
   position:absolute;
   right:85px;
   top:330px;
}
#colorPicker{
   display: flex;
   justify-content: flex-end;
   position: fixed; /* Keeps the color picker fixed relative to the viewport */
   right: 240px; /* Adds space between the color picker and the right edge of the screen */
   top: 50%; /* Centers the color picker vertically */
   transform: translateY(-50%); /* Adjusts the vertical centering */
   width: 200px;
   height: 200px;
}
#circleContainer{
   background: linear-gradient(#A279CC, #7788DA, #5296E4);
   width: 680px;
   height: 750px;
   border-radius: 5rem;
}
#ringButtonContainer{
   background: #515c91;
   width: 300px;
   height: 200px;
   border-radius: 2rem;
   position:absolute;
   right:200px;
   top:150px;
}
#landscapeButtonContainer{
   background: #515c91;
   width: 300px;
   height: 200px;
   border-radius: 2rem;
   position:absolute;
   right:200px;
   top:700px;
}
.btn:hover {
   transform:scale(1.2);
   z-index: 102;
   transition: 0.3s;
}
h3 {
   position:relative;
   right: -10px;
   color:white;
   font-size: 175%;
}

#questionContainer{
   background: #515c91;
   width: 900px;
   height: 300px;
   border-radius: 2rem;
   position:absolute;
   right:600px;
   top:150px;
}

#namenContainer{
   background: #515c91;
   width: 900px;
   height: 300px;
   border-radius: 2rem;
   position:absolute;
   right:600px;
   top:100px;
}

label{
   position:relative;
   right: -5px;
   color:white;
   font-size: 200%;
}
#planetHeading {
   display: none;
   color: white;
   margin-top: 100px; /* Add margin-top to move the heading down */
   font-size: 700%;
}