@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'Avalors Personal Use';
    src: url('fonts/Avalors-PersonalUse.ttf') format('truetype');
}


:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#fff;
    --main-header-background:#080324;
	--main-font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

/*────────────────── 
       header
──────────────────*/

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-between; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

header {
    opacity: 1; /* Always visible */
    background: var(--main-header-background); /* Optional to keep background */
}

#logos {
    display: flex;
    align-items: center; /* Align logo and text vertically */
    margin-left: 20px; /* Adjust to add space between #logos and the header's left edge */
}

.logo img {
    height: 50px;
    cursor: pointer;
}

.logo-text {
    font-family: var(--main-font-family);
    font-style: italic;
    font-size: 1.2rem; /* Adjust size as needed */
    color: var(--main-fonts-color);
    text-decoration: none;
    margin-left: 15px; /* Add space between the logo and text */
    transition: 0.3s;
}

.logo-text:hover {
    text-decoration: underline;
}

.logo-text:active {
    color: #ffdb3b; /* Change color on click */
}



.nav-bar{
	list-style:none;
	display: inline-flex;
    margin-right: 20px;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link:hover {
    color: #efedf7; /* Text hover color */
    background: #4a32a8; /* Background hover color */
    transition: 0.3s; /* Optional smooth transition */
}


/*──────────────────
       home
──────────────────*/

#home{ 	
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#home .filter{
	background: url('https://cdn.pixabay.com/animation/2023/06/06/06/51/06-51-32-766_512.gif') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:.20;
}  

.intro {
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically (optional) */
}

.intro  p{
    margin: 5px;
	font-size:2rem;
	font-family: var(--main-font-family);
	text-align:center;
}

 h3{
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    overflow: hidden;
    height: 4rem;
    font-size: 1.5 rem;
    padding: 0.5rem 1rem;
    background-size: 300% 300%;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #3498eb 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
    margin-top: 20px;

}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use', sans-serif;
    font-size: 12px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% { 
        background-position: 0% 50% 
    }

    50% { 
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0)
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    }
}


/*────────────────── 
       footer
──────────────────*/

footer {
	width: 100%;
	height: 100%;
    background-color: var(--main-header-background);
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
	margin: 2px;
	height: 3px;
	width: 150px;
    border-radius:5px;
	border: hidden;
	margin-inline-start: auto;
    margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar{
    width: 5px; 
	background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}
::-webkit-Scrollbar-track{
	margin-top: 80px;
	border-radius: 10px;
}



/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	.work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 500px) {

	#home, #projects, #contact{
        overflow-x: hidden;
	}
	header{
		background-color: var(--main-header-background);
	}
	.logo{
		position:absolute;
		top: 2px;
		left: 30px;
	}
	.nav-show{
		opacity: 1;
	}	 
	.nav-bar{
		position:fixed;
		top: 0px;
		right:0;
		width:60%;
		height: 100vh;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
		background:var(--main-header-background);
		transform:translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}
	
	.nav-bar li{
		opacity:0;
	}
}

.nav-active{
	transform:translatex(0%);
}